<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui stackable inverted divided grid">
            <div class="three wide column">
                <h4 class="ui inverted header">title 1</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Any</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">title 2</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Other</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">title 3</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Comments</a>
                </div>
            </div>
            <div class="seven wide column">
                <img src="/static/img/logo.png" class="ui centered image" width="60px" height="60px">
                <p>SAM is an open source project licensed under the <a href="https://github.com/riolet/SAM/blob/master/LICENSE">v3 GPL</a>.</p>
            </div>
        </div>
    </div>
</div>