$def with (menuItems, selected)
<div class="ui borderless inverted main menu" id="navbar">
    <div class="ui container">
        <div class="header item">
            <a href="/"><img class="logo ui middle aligned mini image" src="static/img/logo.png">&nbsp;&nbsp;Systems Architecture Mapper</a>
        </div>
        $for menuItem in menuItems:
            $ active = ''
            $if menuItem['name']==selected:
                $ active = 'active'
            <a class="item $active" href="$menuItem['link']">
                <i class="$menuItem['icon'] icon"></i>
                $menuItem['name']
            </a>
    </div>
</div>