$def with (menuItems, selected)
<div class="ui borderless inverted main menu" id="navbar">
    <div class="ui text container">
        <div class="header item">
            <img class="logo" src="static/img/logo.png">
            <a href="/"><i class="map outline icon big"></i>
            Systems Architecture Mapper</a>
        </div>
        $for menuItem in menuItems:
            $ active = ''
            $if menuItem['name']==selected:
                $ active = 'active'
            <a class="item $active" href="$menuItem['link']">
                <i class="$menuItem['icon'] icon"></i>
                $menuItem['name']
            </a>
    </div>
</div>