$def with (title)
<div class="ui text container">
    <!--<h1 class="ui header">$title</h1>-->
    <div class="ui raised segment">
        <h2 class="ui dividing header">What is SAM?</h2>
        <p>System Architecture Mapper (SAM) is an interactive network-traffic mapping tool.</p>
        <p>It is designed to show how different nodes interact on a network, based off a log of connections formed over a period of time.</p>
        <p>SAM is primarily a map of connections between IP addresses on ports.  At a high level it provides an easy-to-understand visualization of your network.  As you explore the features of SAM, you can begin to dissect your network and see the activity that happens on particular ports, or compare the activity levels of different parts of your network over time.</p>
        <p>This is useful in both an exploratory and an evaluatory sense. In the exploratory sense, it gives you a reference point for the current state of affairs and allows you to see where traffic is going. In the evaluatory sense, you can compare the network data with the architected intention of your network and see whether the system is working as intended.</p>
    </div>
</div>
<div id="features" class="ui container">
    <div class="ui raised segment">
        <h2 class="ui dividing centered header">SAM provides three views into your network:</h2>
        <div class="ui divided three column stackable grid">
            <div class="column">
                <div class="content">
                    <h3 class="ui centered header">Map</h3>
                </div>
                <a href="/static/img/screen_0.2_map.png" class="ui bordered image">
                    <img src="/static/img/screen_0.2_map.png">
                </a>
                <div class="content">
                    <div class="description">
                        <p>The main view into your network, SAM’s map depicts a network by grouping the hosts into subnets at /8 /16 and /24, and arranging them in a 16x16 grid.  Connections formed between hosts are drawn as arrows pointing from source to destination, or to a specific port when zoomed in fully.</p>
                        <p>The map allows for filtering by ports or time periods, searching for a host or subnet, and turning the visibility of client and server nodes on and off.</p>
                        <p>By selecting a node in the map you can see extra information about it, including the ability to rename it, or follow a link to the complete host information.</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <h3 class="ui centered header">Table View</h3>
                </div>
                <a href="/static/img/screen_0.2_table.png" class="ui bordered image">
                    <img src="/static/img/screen_0.2_table.png">
                </a>
                <div class="content">
                    <div class="description">
                        <p>The Table View provides information on groups of hosts, with aggregate information about the links between them.  It uses transforms the network data into a spreadsheet view to isolate the hosts and subnets that have the properties you’re looking for.</p>
                        <p>The Table View has the most sophisticated filtering capabilities and allows you to search and sort all nodes based on highly customizable criteria such as environment (production? dev?), it’s role as a client or server, and user-defined tags.</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <h3 class="ui centered header">Host Details</h3>
                </div>
                <a href="/static/img/screen_0.2_meta.png" class="ui bordered image">
                    <img src="/static/img/screen_0.2_meta.png">
                </a>
                <div class="content">
                    <div class="description">
                        <p>Host Details provides all the available information on an individual host and allows you to add more information.  Host information covers tags, environment, alias, incoming and outgoing connections, ports used, and (for subnets) active child nodes.</p>
                        <p>For a specific host you can:</p>
                        <ul>
                            <li>Add an alias to give the host a more memorable moniker, such as “Pacific Datacenter” or “Testing subnet.”</li>
                            <li>Add one or more tags with supplementary information. Some intended examples are things like “48GB” or “Project SAM.”</li>
                            <li>Set the environment, a single value, usually inherited from a higher subnet meaning “production” or “dev” or another custom label.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui text container">
    <div class="ui raised segment">
        <h2 class="ui dividing  header">Current Limitations</h2>
        <p>The data used by SAM is currently limited to IPv4 and TCP traffic data, with all other information is discarded.  SAM is capable of importing data from PaloAlto syslog files, and from nfcapd binary files.  There are also Cisco ASA, and AWS VPC Flow log importers courtesy of contributor Emre. Creating an importer for your own log files is as simple as inheriting from BaseImporter in importer_base.py and overriding the translate function.</p>
        <p>SAM is also currently limited to using MySQL for its database and, again, you will have more options in the future. </p>
    </div>
    <div class="ui raised segment">
        <h2 class="ui dividing header">Next Steps</h2>
        <p>A network log will often record information such as IPs, ports, protocol used, payload size, number of connections, duration of connections, timestamps, and more to allow many more dimensions of information to be displayed on the map.  This will provide an ever-increasingly comprehensive visualization of network traffic.</p>
        <p>Many of these options will be displayed visually as well. For example different colored connections for different protocols, or line thicknesses for number of connections, or total data transfered.</p>
        <p>One of the next features to be developed will be aliasing for hosts and ports so that you can assign more meaningful names to the nodes in the graph.  Instead of subnet 24.0.0.0/8, you could read West Office or instead of 136.72.44.16, you could read Jamie.</p>
    </div>
    <div class="ui raised segment">
        <h2 class="ui dividing header">The Future</h2>
        <p>SAM also maps a mere snapshot of a network, but it need not be merely a snapshot.  In the future the service could continuously integrate new data from a live network and provide realtime visual feedback on the health of your network.</p>
        <p>SAM can go beyond merely reporting network data as well.  SAM will eventually be able to collect more detailed information about hosts, such as their resource usage or idle time.</p>
        <p>Another possibility is to give administrative capabilities to SAM and use the network map as a control panel to block and allow IP addresses, trigger the rebooting or the reimaging of nodes, or configuring quotas for different types of traffic or network jobs.</p>
    </div>
</div>