$def with ()
<div class="ui text container">
    <div class="ui raised segment">
        <h2 class="ui dividing header">What is SAM?</h2>
        <p>System Architecture Mapper (SAM) is an interactive network-traffic mapping tool.</p>
        <p>It is designed to show how different nodes interact on a network, based off a log of connections formed over a period of time.</p>
        <p>SAM is primarily a map of connections between IP addresses on ports.  At a high level it provides an easy-to-understand visualization of your network.  As you explore the features of SAM, you can begin to dissect your network and see the activity that happens on particular ports, or compare the activity levels of different parts of your network over time.</p>
        <p>This is useful in both an exploratory and an evaluatory sense. In the exploratory sense, it gives you a reference point for the current state of affairs and allows you to see where traffic is going. In the evaluatory sense, you can compare the network data with the architected intention of your network and see whether the system is working as intended.</p>
    </div>
</div>
<div id="features" class="ui container">
    <div class="ui raised segment">
        <h2 class="ui dividing centered header">SAM provides three views into your network:</h2>
        <div class="ui divided three column stackable grid">
            <div class="column">
                <div class="content">
                    <h3 class="ui centered header">Map</h3>
                </div>
                <a href="/static/img/screen_0.2_map.png" class="ui bordered image">
                    <img src="/static/img/screen_0.2_map.png">
                </a>
                <div class="content">
                    <div class="description">
                        <p>The main view into your network, SAM’s map depicts a network by grouping the hosts into subnets at /8 /16 and /24, and arranging them in a 16x16 grid.  Connections formed between hosts are drawn as arrows pointing from source to destination, or to a specific port when zoomed in fully.</p>
                        <p>The map allows for filtering by ports or time periods, searching for a host or subnet, and turning the visibility of client and server nodes on and off.</p>
                        <p>By selecting a node in the map you can see extra information about it, including the ability to rename it, or follow a link to the complete host information.</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <h3 class="ui centered header">Table View</h3>
                </div>
                <a href="/table?page=1&page_size=10&sort=0,asc&filters=1%3B1%3Bproduction|6%3B1%3B1%3B48GB|3%3B1%3B2%3B445" class="ui bordered image">
                    <img src="/static/img/screen_0.2_table.png">
                </a>
                <div class="content">
                    <div class="description">
                        <p>The Table View provides information on groups of hosts, with aggregate information about the links between them.  It uses transforms the network data into a spreadsheet view to isolate the hosts and subnets that have the properties you’re looking for.</p>
                        <p>The Table View has the most sophisticated filtering capabilities and allows you to search and sort all nodes based on highly customizable criteria such as environment (production? dev?), it’s role as a client or server, and user-defined tags.</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <h3 class="ui centered header">Host Details</h3>
                </div>
                <a href="/metadata?ip=21.66.10.231" class="ui bordered image">
                    <img src="/static/img/screen_0.2_meta.png">
                </a>
                <div class="content">
                    <div class="description">
                        <p>Host Details provides all the available information on an individual host and allows you to add more information.  Host information covers tags, environment, alias, incoming and outgoing connections, ports used, and (for subnets) active child nodes.</p>
                        <p>For a specific host you can:</p>
                        <ul>
                            <li>Add an alias to give the host a more memorable moniker, such as “Pacific Datacenter” or “Testing subnet.”</li>
                            <li>Add one or more tags with supplementary information. Some intended examples are things like “48GB” or “Project SAM.”</li>
                            <li>Set the environment, a single value, usually inherited from a higher subnet meaning “production” or “dev” or another custom label.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui text container">
    <div class="ui raised segment">
        <h2 class="ui dividing  header">Current Limitations</h2>
        <p>The data used by SAM is currently limited to IPv4 and TCP traffic data, with all other information is discarded.  SAM is capable of importing data from PaloAlto syslog files, and from nfcapd binary files.  There are also Cisco ASA, and AWS VPC Flow log importers courtesy of contributor Emre. Creating an importer for your own log files is as simple as inheriting from BaseImporter in importer_base.py and overriding the translate function.</p>
        <p>SAM is also currently limited to using MySQL for its database.  This may also change in the future as needed.</p>
    </div>
    <div class="ui raised segment">
        <h2 class="ui dividing header">Coming Soon...</h2>
        <h3>Live Mode</h3>
        <p>The biggest upcoming enhancement, almost ready, is to give SAM “live” ability wherein SAM is actively receiving data and building up it’s database.  This would allow you to use the most up-to-date information possible in fewer steps.  Fewer steps means a simpler workflow, fewer mistakes, and faster results.  Expect this feature soon!</p>
        <h3>UDP Connections</h3>
        <p>One of the next additions will be support for UDP protocol data.  More generally, a network log will often record additional information such as, protocol used, payload size, duration of connections, and if a connections is rejected under security rules.  All of that is just thrown away right now, but gradually using more of the available information will provide an increasingly comprehensive visualization of network traffic.</p>
        <h3>Unified Filtering</h3>
        <p>The Table View page provides a sophisticated filter that is not currently available to map data.  In the next version of this software, the filters will be unified across views, and made faster, allowing maximum control over what is displayed.  There will also be a way to save your custom filters as a preset with a name, to easily switch between views.</p>
        <h3>Downloadable Data</h3>
        <p>Replicating what you can do in dedicated spreadsheet software is not the goal of SAM, so we intend to make the results of a table view search downloadable in spreadsheet-friendly format.</p>
    </div>
</div>