$def with (title)
$# "$def with (arg1, ...)" MUST be the first line. See template.py for details
<div class="ui main container">
    <div class="ui float left header">
        <img class="ui image" src="/static/img/logo.png" width="60" height="60">
        <span class="ui main header">$title</span>
    </div>
</div>
<div class="ui container">
    <div class="ui internally celled grid">
        <div class="row">
            <div class="eight wide column">
                <p>SAM renders an interactive map of a network.</p>
                <p>It uses information from the connection logs of routers.</p>
                <p>Using SAM, you can visualize your network as a graph of endpoints, connections, and ports, and see detailed information about the network.</p>
                <p>It's being designed with a system architect's needs in mind to consolidate information about the health and connectivity of a network.</p>
            </div>
            <div class="eight wide column"><img class="ui fluid bordered image" id="screen" src="/static/img/demo_screen.png"></div>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="ui internally celled grid">
        <div class="centered row">
            <div class="five wide column"><a href="/about"><i class="big info icon"></i>More information</a></div> <!--Why we're building this and where it's going.-->
            <div class="five wide column"><a href="/demo"><i class="big map icon"></i>Interactive demo</a></div>
            <div class="five wide column"><a href="https://github.com/Riolet/SAM"><i class="big github icon"></i>Fork or clone SAM on GitHub</a></div>
        </div>
    </div>
</div>
<div class="ui basic fullscreen modal">
    <div id="modal" class="image content">
        <img class="ui centered image" src="/static/img/demo_screen.png">
    </div>
</div>