$def with (title)
$# "$def with (arg1, ...)" MUST be the first line. See template.py for details
<div class="ui main container">
    <div class="ui float left header">
        <img class="ui image" src="/static/img/logo.png" width="60" height="60">
        <span class="ui main header">$title</span>
    </div>
</div>
<div class="ui container">
    <div class="ui internally celled grid">
        <div class="row">
            <div class="eight wide column">
                <p>SAM renders an interactive map of a network.</p>
                <p>It uses information from the connection logs of routers.</p>
                <p>Using SAM, you can visualize your network as a graph of endpoints, connections, and ports, and see detailed information about the network.</p>
                <p>It's being designed with a system architect's needs in mind to consolidate information about the health and connectivity of a network.</p>
            </div>
            <div class="eight wide column"><img class="ui big image" src="/static/img/screenshot.jpg"></div>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="ui internally celled grid">
        <div class="centered row">
            <div class="five wide column"><i class="info icon"></i>About</div> <!--Why we're building this and where it's going.-->
            <div class="five wide column"><i class="map icon"></i>Interactive Demo</div>
            <div class="five wide column"><i class="github icon"></i>Fork or clone the project on GitHub</div>
        </div>
    </div>
</div>