$def with ()
<!--
     The top information section
-->
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">We Help Companies and Companions</h3>
          <p>We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</p>
          <h3 class="ui header">We Make Bananas That Can Dance</h3>
          <p>Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.</p>
        </div>
        <div class="six wide right floated column">
          <img src="assets/images/wireframe/white-image.png" class="ui large bordered rounded image">
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui huge button">Check Them Out</a>
        </div>
      </div>
    </div>
</div>
<!--
     The support options
-->
<div class="ui container">
    <div class="ui centered cards">
        <div class="blue card">
            <div class="content">
                <div class="ui centered header">Bronze Level</div>
            </div>
            <div class="content">
                <div class="ui small statistic">
                    <div class="value">
                        $$0
                    </div>
                    <div class="label">
                        Per Node
                    </div>
                </div>
                <h4 class="ui sub header">Features</h4>
                <div class="item"><i class="green checkmark icon"></i>Included Feature</div>
                <div class="item"><i class="red remove icon"></i>Excluded Feature</div>
                <div class="item"><i class="red remove icon"></i>Excluded Feature</div>
                <h4 class="ui sub header">Support</h4>
                <div class="item"><i class="red remove icon"></i>Excluded Feature</div>
                <div class="item"><i class="red remove icon"></i>Excluded Feature</div>
                <h4 class="ui sub header">&nbsp;</h4>
                <div class="item">&nbsp;</div>
            </div>
            <div class="ui bottom attached button">
                Buy Now
            </div>
        </div>
        <div class="blue card">
            <div class="content">
                <div class="ui centered header">Silver Level</div>
            </div>
            <div class="content">
                <div class="ui small statistic">
                    <div class="value">
                        $$50
                    </div>
                    <div class="label">
                        Per Node
                    </div>
                </div>
                <h4 class="ui sub header">Features</h4>
                <div class="item"><i class="green checkmark icon"></i>Included Feature</div>
                <div class="item"><i class="green checkmark icon"></i>Included Feature</div>
                <div class="item"><i class="red remove icon"></i>Excluded Feature</div>
                <h4 class="ui sub header">Support</h4>
                <div class="item"><i class="green checkmark icon"></i>Included Feature</div>
                <div class="item"><i class="red remove icon"></i>Excluded Feature</div>
                <h4 class="ui sub header">&nbsp;</h4>
                <div class="item">&nbsp;</div>
            </div>
            <div class="ui bottom attached button">
                Buy Now
            </div>
        </div>
        <div class="blue card">
            <div class="content">
                <div class="ui centered header">Gold Level</div>
            </div>
            <div class="content">
                <div class="ui small statistic">
                    <div class="value">
                        $$80
                    </div>
                    <div class="label">
                        Per Node
                    </div>
                </div>
                <h4 class="ui sub header">Features</h4>
                <div class="item"><i class="green checkmark icon"></i>Included Feature</div>
                <div class="item"><i class="green checkmark icon"></i>Included Feature</div>
                <div class="item"><i class="green checkmark icon"></i>Included Feature</div>
                <h4 class="ui sub header">Support</h4>
                <div class="item"><i class="green checkmark icon"></i>Included Feature</div>
                <div class="item"><i class="green checkmark icon"></i>Included Feature</div>
                <h4 class="ui sub header">Extra</h4>
                <div class="item"><i class="green checkmark icon"></i>Bonus Feature</div>
            </div>
            <div class="ui bottom attached button">
                Buy Now
            </div>
        </div>
    </div>
</div>
<!--
     The bottom information section
-->
<div class="ui vertical stripe segment">
    <div class="ui two column middle aligned stackable grid container">
        <div class="row">
            <div class="center aligned eight wide column">
                <h3 class="ui header">Additional</h3>
                <p>Any</p>
                <p>other</p>
                <p>support</p>
                <p>information</p>'
            </div>
            <div class="center aligned eight wide column">
                <h3 class="ui header">Information</h3>
                <p>can</p>
                <p>be</p>
                <p>written</p>
                <p>here.</p>
            </div>
        </div>
    </div>
</div>
